<mjml>
  <mj-body background-color="#f0f0f0" width="664px">
    <mj-section background-color="#ffffff" border-left="12px solid #808080" border-right="12px solid #808080" border-top="12px solid #808080" padding="0">
      <mj-column>
        <!--Header Image-->
        <mj-image src="https://dcls.patronpoint.com/themes/dcls_customallinone/img/dcls_logo.png" href="{logo_link_url}" alt="" width="300px" padding="10px" />
        <mj-text container-background-color="#808080" color="#ffffff" align="center" padding="20px" font-family="Open Sans, Arial, sans-serif">
          <h1 style="margin: 0; font: 300 34px/40px 'Open Sans',Arial,sans-serif;">Recommends - August 2020</h1>
        </mj-text>
      </mj-column>
    </mj-section>

    <!-- Generated Code Here -->
    <mj-section background-color="#ffffff" border-left="12px solid #808080" border-right="12px solid #808080" padding="0">
      <mj-column>
        <mj-text align="left" padding="0" font-family="Open Sans, Arial, sans-serif">{contactfield=recommendations_all_genre}</mj-text>
      </mj-column>
    </mj-section>

    <!-- Alternating 290px Wide Images and Captions -->
    <mj-section direction="rtl" padding="10px 30px" background-color="#ffffff" border-left="12px solid #808080" border-right="12px solid #808080">
      <mj-column vertical-align="middle">
        <mj-image align="left" src="http://via.placeholder.com/290x250" alt="" width="290px" padding="0" />
      </mj-column>
      <mj-column vertical-align="middle" padding-right="20px">
        <mj-text padding="0" font-family="Open Sans, Arial, sans-serif">
          <h3 style="color: #444444; font: 300 20px/24px 'Open Sans', Arial, sans-serif; margin: 0; padding: 20px 0 15px;">Caption Heading</h3>
          <p style="color: #444444; font: 300 14px/18px 'Open Sans', Arial, sans-serif; margin: 0; padding-bottom: 20px;"><a href="https://google.com" target="_blank">Lorem ipsum dolor sit</a> amet, consectetur adipisicing elit, sed eiusmod tempor incididunt ut labore et dolore</p>
        </mj-text>
        <mj-button align="left" background-color="#87c358" href="https://patronpoint.com" padding="0" font-family="Open Sans, Arial, sans-serif">Read More</mj-button>
      </mj-column>
    </mj-section>

    <mj-section padding="10px 30px" background-color="#ffffff" border-left="12px solid #808080" border-right="12px solid #808080">
      <mj-column vertical-align="middle" padding-right="0px">
        <mj-image align="left" src="http://via.placeholder.com/290x250" alt="" width="290px" padding="0" />
      </mj-column>
      <mj-column vertical-align="middle" padding-left="30px" css-class="natural">
        <mj-text padding="0" font-family="Open Sans, Arial, sans-serif">
          <h3 style="color: #444444; font: 300 20px/24px 'Open Sans', Arial, sans-serif; margin: 0; padding: 20px 0 15px;">Caption Heading</h3>
          <p style="color: #444444; font: 300 14px/18px 'Open Sans', Arial, sans-serif; margin: 0; padding-bottom: 20px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusmod tempor incididunt ut labore et dolore</p>
        </mj-text>
        <mj-button align="left" background-color="#007ed5" href="https://patronpoint.com" padding="0" font-family="Open Sans, Arial, sans-serif">Read More</mj-button>
      </mj-column>
    </mj-section>

    <mj-section direction="rtl" padding="10px 30px" background-color="#ffffff" border-left="12px solid #808080" border-right="12px solid #808080">
      <mj-column vertical-align="middle">
        <mj-image align="left" src="http://via.placeholder.com/290x250" alt="" width="290px" padding="0" />
      </mj-column>
      <mj-column vertical-align="middle" padding-right="20px">
        <mj-text padding="0" font-family="Open Sans, Arial, sans-serif">
          <h3 style="color: #444444; font: 300 20px/24px 'Open Sans', Arial, sans-serif; margin: 0; padding: 20px 0 15px;">Caption Heading</h3>
          <p style="color: #444444; font: 300 14px/18px 'Open Sans', Arial, sans-serif; margin: 0; padding-bottom: 20px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusmod tempor incididunt ut labore et dolore</p>
        </mj-text>
        <mj-button align="left" background-color="#87c358" href="https://patronpoint.com" padding="0" font-family="Open Sans, Arial, sans-serif">Read More</mj-button>
      </mj-column>
    </mj-section>

    <!-- Bold Floating Text Section -->
    <mj-section padding="20px 0px" background-color="#ffffff" border-left="12px solid #808080" border-right="12px solid #808080">
      <mj-column>
        <mj-text align="center" padding="0" font-family="Open Sans, Arial, sans-serif">
          <h2 style="color: #444444; font: 300 36px/40px 'Open Sans', Arial, sans-serif; margin: 0; padding: 20px 30px 15px; text-align: center;">Bold Floating Heading</h2>
          <p style="color: #444444; font: 300 20px/24px 'Open Sans', Arial, sans-serif; margin: 0; padding: 0 30px 30px; text-align: center;">Bold floating copy</p>
        </mj-text>
        <mj-button background-color="#87c358" href="https://patronpoint.com" padding="0" font-family="Open Sans, Arial, sans-serif">Read More</mj-button>
      </mj-column>
    </mj-section>

    <!-- 2 Col 275px Wide Images and Captions -->
    <mj-section padding="10px 30px" background-color="#ffffff" border-left="12px solid #808080" border-right="12px solid #808080">
      <mj-column padding="0px 15px 20px 0px">
        <mj-image align="left" src="http://via.placeholder.com/275x175" alt="" width="275px" padding="0" />
        <mj-text padding="0" font-family="Open Sans, Arial, sans-serif">
          <h3 style="color: #87c358; font: 300 20px/24px 'Open Sans', Arial, sans-serif; margin: 0; padding: 20px 0 15px;">Caption Heading</h3>
          <p style="color: #444444; font: 300 14px/18px 'Open Sans', Arial, sans-serif; margin: 0; padding-bottom: 20px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
        </mj-text>
        <mj-button align="left" background-color="#87c358" href="https://patronpoint.com" padding="0" font-family="Open Sans, Arial, sans-serif">Read More</mj-button>
      </mj-column>
      <mj-column padding="0px 0px 20px 15px" css-class="reduce-col-pad">
        <mj-image align="left" src="http://via.placeholder.com/275x175" alt="" width="275px" padding="0" />
        <mj-text padding="0" font-family="Open Sans, Arial, sans-serif">
          <h3 style="color: #007ed5; font: 300 20px/24px 'Open Sans', Arial, sans-serif; margin: 0; padding: 20px 0 15px;">Caption Heading</h3>
          <p style="color: #444444; font: 300 14px/18px 'Open Sans', Arial, sans-serif; margin: 0; padding-bottom: 20px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
        </mj-text>
        <mj-button align="left" background-color="#007ed5" href="https://patronpoint.com" padding="0" font-family="Open Sans, Arial, sans-serif">Read More</mj-button>
      </mj-column>
    </mj-section>

    <!-- Alternating 350px Wide Images and Captions -->
    <mj-section direction="rtl" padding="10px 30px" background-color="#ffffff" border-left="12px solid #808080" border-right="12px solid #808080">
      <mj-column vertical-align="middle" width="60%">
        <mj-image align="left" src="http://via.placeholder.com/350x250" alt="" padding="0" />
      </mj-column>
      <mj-column vertical-align="middle" padding="0px 20px 10px 0px" width="40%">
        <mj-text padding="0" font-family="Open Sans, Arial, sans-serif">
          <h3 style="color: #444444; font: 300 20px/24px 'Open Sans', Arial, sans-serif; margin: 0; padding: 20px 0 15px;">Caption Heading</h3>
          <p style="color: #444444; font: 300 14px/18px 'Open Sans', Arial, sans-serif; margin: 0; padding-bottom: 20px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusmod tempor incididunt ut labore et dolore</p>
        </mj-text>
        <mj-button align="left" background-color="#87c358" href="https://patronpoint.com" padding="0" font-family="Open Sans, Arial, sans-serif">Read More</mj-button>
      </mj-column>
    </mj-section>

    <mj-section padding="10px 30px" background-color="#ffffff" border-left="12px solid #808080" border-right="12px solid #808080">
      <mj-column vertical-align="middle" width="60%">
        <mj-image align="left" src="http://via.placeholder.com/350x250" alt="" padding="0" />
      </mj-column>
      <mj-column vertical-align="middle" padding-left="20px" width="40%" css-class="natural">
        <mj-text padding="0" font-family="Open Sans, Arial, sans-serif">
          <h3 style="color: #444444; font: 300 20px/24px 'Open Sans', Arial, sans-serif; margin: 0; padding: 20px 0 15px;">Caption Heading</h3>
          <p style="color: #444444; font: 300 14px/18px 'Open Sans', Arial, sans-serif; margin: 0; padding-bottom: 20px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusmod tempor incididunt ut labore et dolore</p>
        </mj-text>
        <mj-button align="left" background-color="#007ed5" href="https://patronpoint.com" padding="0" font-family="Open Sans, Arial, sans-serif">Read More</mj-button>
      </mj-column>
    </mj-section>

    <!-- Block Text -->
    <mj-section padding="20px 30px" background-color="#ffffff" border-left="12px solid #808080" border-right="12px solid #808080">
      <mj-column>
        <mj-text padding="0" font-family="Open Sans, Arial, sans-serif">
          <h3 style="color: #444444; font: 300 20px/24px 'Open Sans', Arial, sans-serif; margin: 0; padding: 30px; text-align: center;">Bold Text Block Heading</h3>
          <p style="color: #444444; font: 300 14px/18px 'Open Sans', Arial, sans-serif; margin: 0; padding-bottom: 20px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <p style="color: #444444; font: 300 14px/18px 'Open Sans', Arial, sans-serif; margin: 0; padding-bottom: 20px;">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
          <p style="color: #444444; font: 300 14px/18px 'Open Sans', Arial, sans-serif; margin: 0; padding-bottom: 20px;">Sunt in culpa qui officia deserunt mollit anim id est labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </mj-text>
        <mj-button background-color="#87c358" href="https://patronpoint.com" padding="0" font-family="Open Sans, Arial, sans-serif">Read More</mj-button>
      </mj-column>
    </mj-section>

    <!-- Footer -->
    <mj-section padding="20px 30px" background-color="#ffffff" border-left="12px solid #808080" border-right="12px solid #808080">
      <mj-column>
        <mj-divider border-width="1px" border-color="#9A9A9A" padding="0px 0px 10px" />
        <mj-text align="center" font-size="20px" line-height="24px" padding="20px 0px 0px 0px" font-family="Open Sans, Arial, sans-serif">Connect With Us</mj-text>
        <mj-social border-radius="0" icon-size="40px" mode="horizontal" line-height="0" padding="10px 0px">
          <mj-social-element src="https://dcls.patronpoint.com/themes/dcls_customallinone/img/Facebook.png" target="_blank" name="facebook-noshare" href="https://www.facebook.com/DCLS.PA" alt="Facebook" background-color="#FFF"></mj-social-element>
          <mj-social-element src="https://dcls.patronpoint.com/themes/dcls_customallinone/img/Twitter.png" target="_blank" name="twitter-noshare" href="https://www.twitter.com/dcls_library" alt="Twitter" background-color="#FFF" padding="0px 10px"></mj-social-element>
          <mj-social-element src="https://dcls.patronpoint.com/themes/dcls_customallinone/img/Instagram.png" target="_blank" name="instagram-noshare" href="https://www.instagram.com/dcls_library" alt="Instagram" background-color="#FFF"></mj-social-element>
        </mj-social>
        <mj-divider border-width="1px" border-color="#9A9A9A" padding="10px 0px 0px" />
        <mj-text color="#444444" align="center" font-size="12px" line-height="16px" padding="30px 0px 20px" font-family="Open Sans, Arial, sans-serif">
          <p style="margin: 0;"><a href="{unsubscribe_url}" target="_blank" style="color: #444444;">Click here to unsubscribe</a></p><br />
          <p style="margin: 0;">Dauphin County Library System</p>
          <p style="margin: 0;">101 Walnut Street Harrisburg, PA 17101</p>
          <p style="margin: 0;"><a href="tel:717-234-4961" style="text-decoration: none">Phone: (717) 234-4961</a></p>
          <p style="margin: 0;">Fax: (717) 234-7479</p><br />
          <p style="margin: 0;"><a href="mailto:askalibrarian@dcls.org">Ask a Librarian</a></p>
        </mj-text>
        <mj-divider border-width="1px" border-color="#9A9A9A" padding="10px 0px" />
      </mj-column>
    </mj-section>

    <mj-section padding="20px 0px 50px" border-bottom="12px solid #808080" background-color="#ffffff" border-left="12px solid #808080" border-right="12px solid #808080">
      <mj-column>
        <mj-image src="https://ahplmi.patronpoint.com/themes/all_in_one_auburn_hills/img/Powered_by_PP-250w37h-2.jpg" width="200px" alt="My company logo" padding="0" ></mj-image>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>
